@CHARSET "UTF-8";

/******** layout */

#Header {
}

#Content {
	margin-left: 13em;
	padding: 1em;
	min-height: 30em;
}

#Menu {
	float: left;
	width: 12em;
}

#Toolbar {
	margin: -0.5em -1em 1em -0.5em;
	padding-bottom: 0.5em;
}

#Footer {
	padding-top: 1em;
	clear: both;
}

/******** styles */

#Header {
	border-bottom: 1px solid black;	
}

#Content {
	border-left: 1px solid black;	
}

#Toolbar {
	border-bottom: 1px solid black;
}

#Footer {
	border-top: 1px solid black;
}

a.selected,
a.selected:active {
	text-decoration: none;
}

/**** tables */

table {
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid lightgrey;
	padding: 0.1em 0.4em;
}

table thead td {
	
}

table form {
	display: inline;
}

/**** loading */

.loadingMessage {
	display: none;
}

.loading .loadingMessage {
	display: block;
}